.image {
    margin-top: 20px;
}
#content {
    position: relative;
    padding: 40px;
}

#content .grid {
    position: relative;
    background: rgba(255, 255, 200, 0.5);
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 100%));
    max-width: 1400px;
    justify-content: center;
    grid-gap: 20px;
    margin: 10px auto 10px auto;
}

#content .item {
    position: relative;
    display: inline-block;
    background: rgba(200, 255, 255, 0.5);
    box-shadow: 0 0 0 3px #000;
    width: 100%;  
}

#content .item .div {
    position: relative;    
    width: 100%;
    /*height: 200px;*/
    overflow: hidden;
    background: #930;
    padding-bottom: 64%;
}

#content .item img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    max-width: 500px;
}

@media screen and (max-width: 1460px){
    #content .grid {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }    
}

@media screen and (max-width: 1020px){  
     #content .grid {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }   
}

@media screen and (max-width: 800px){
    #content .grid {        
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}